<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.1.64:3306/HidroGuys</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.username">hidroguys</property>
    <property name="hibernate.connection.password">hidro</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="pojo/SensorType.hbm.xml"/>
    <mapping resource="pojo/Line.hbm.xml"/>
    <mapping resource="pojo/SensorData.hbm.xml"/>
    <mapping resource="pojo/Ship.hbm.xml"/>
    <mapping resource="pojo/Farm.hbm.xml"/>
    <mapping resource="pojo/User.hbm.xml"/>
    <mapping resource="pojo/Sensor.hbm.xml"/>
    <mapping resource="pojo/Reader.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
